@media (max-height:860px){
	header{
		top: 40px;
	}
	.banner {
		min-height: 850px;
	}
}
@media (max-width:1199px) {
/* ----------- SECTION ABOUT -----------*/
	.heading {
		margin-bottom: 110px;
	}
	.heading h2 {
		width: auto;
	}
	.heading p {
		font-size: 14px;
		line-height: 18px;
	}
	.about_wrap_img {
		max-width: 40%;
		margin-left: 40px;
	}
/* ----------- box-skills -----------*/
	.box_skills_items__img {
		width: 44%;
		-webkit-box-flex: 0;
		-ms-flex: none;
		flex: none;
	}
/* ----------- TESTIMONIAL -----------*/
	.section-bg {
		height: auto;	
		min-height: 550px;
	}
	.quote-text {
		font-size: 35px;
		line-height: 50px;
	}
/* ----------- TEAM -----------*/
	.team-list__img {
		height: 150px;
		width: 150px;
	}
	.team-list__items p, .contact-wrap__right p,
	.contact-list__item {
		font-size: 14px;
		line-height: 22px;
	}
/* ----------- BOX-PRICING -----------*/
	.pricing {
		margin-left: 3%;
	}
	.pricing__item {
		width: 210px;
	}
/* ----------- CONTACT -----------*/ 
	.contact-wrap__right {
		padding-left: 30px;
	}
/* ----------- CLIENTS -----------*/
	.client-list a {
		height: 130px;
	}
/* ----------- NAV-MENU -----------*/
	header {
		top: 40px;
	}
	h1 {
		margin-bottom: 50px;
	}
	h1, h1 .sm {
		font-size: 37px;
		line-height: 45px;
	}
	h1 .lg {
		font-size: 50px;
		line-height: 64px;
	}
	
	.menu_item {
		margin-left: 50px;
	}
	.menu_item::after {
		margin-left: 18px;
	}
	.logo a {
		width: 100px;
		height: 100px;
		font-size: 24px;
	}
	.banner-slider .slick-dots {
		margin-top: 40px;
	}
/* ----------- PORFOLIO -----------*/
	.porfolio-list__item {
		width: 33.33%;
	}
	.nav-tab-list {
		margin-bottom: 40px;
	}
	.nav-tab-list__item {
		margin: 0 10px;
	}
	.nav-tab-list__item::after {
		display: none;
	}
/* ----------- BLOG -----------*/
	.blog-list {
		margin: 0 -20px;
	}
	.blog-list__item {
		width: calc(50% - 40px);
		margin: 0 20px 40px;
	}
	.blog-list__title {
		font-size: 18px;
		padding: 20px 20px 15px;
	}
	.blog-list__info {
		padding-left: 25px;
		padding-right: 0;
	}

@media (min-width:992px) {
	.menu {
		display: -webkit-box !important;
		display: -ms-flexbox !important;
		display: flex !important;/*чтобы перебить стили в js*/
	}
}
@media (max-width:991px) {
	.heading {
		margin-bottom: 50px;
	}
	.navigation {
		position: relative;
	}
	.menu {
		position: absolute;
		top: 100%;
		right: 0;
		min-width: 200px;
		margin-top: 20px;
		display: none;
		padding: 10px 0;
		background: rgba(0,0,0, 0.7);
	}
	.menu_item {
		margin-left: 0;
	}
	.menu_item::after {
		display: none;
	}
	.menu_link {
		display: block;
		padding: 10px 20px;
		margin-left: 0;
	}
	.menu_link:hover {
		color: #fff;
	}
	.menu-toggle {
		display: inline-block;
		border: none;
		background-color: transparent;
		padding: 0;
	}
	.menu-toggle span {
		display: block;
		width: 35px;
		height: 3px;
		background:#fff;
	}
	/*второму и третьему span*/
	.menu-toggle span + span{
		margin-top: 8px;
	}
/* ----------- SECTION ABOUT -----------*/
	.section {
		padding: 70px 0;
	}
	.hr {
		margin: 80px 0;
	}
	.about_wrap, .box-skills {
		display: block;
	}
	.about_wrap_img {
		margin: 40px auto 0;
		  max-width: 80%;
	}
	.about_wrap_img img {
		width: 100%;
	}
/* ----------- box-skills -----------*/
	.box_skills_items__img {
		margin: 0 auto 40px;
		width: auto;
		padding-right: 0;
		text-align: center;	
	}
	.box_skills_items__content {
		padding-left: 0;
	}
	.box_skills_items {
		width: auto;
	}
/* ----------- TESTIMONIAL -----------*/
	.section-bg {
		min-height: 480px;
	}
	.quote-text {
		font-size: 30px;
		line-height: 42px;
	}
	.quote-text::after, .quote-text::before {
		font-size: 90px;
	}
	.quote-author {
		font-size: 18px;
		line-height: 25px;
	}
	.quote-author::before {
		margin-bottom: 18px;
	}
/* ----------- TEAM -----------*/
	.team-list {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
	.team-list__items {
		width: 50%;
	}
/* ----------- FACT-LIST -----------*/
	.fact-list__icon {
		width: 140px;
		height: 140px;
		margin-bottom: 20px;
	}
	.fact-list h5 {
		font-size: 20px;
		line-height: 20px;
	}
	.fact-list h5 span {
		font-size: 35px;
		line-height: 42px;
	}
/* ----------- SERVICE -----------*/
	.service-list {
		margin: 0 10px;
	}
	.service-list__item {
		padding: 0 10px;
	}
	.service-list__item p {
		font-size: 14px;
		line-height: 22px;
	}
/* ----------- BOX-PRICING -----------*/
	.box-pricing {
		display: block;
	}
	.box-pricing .service-list__item {
		text-align: center;
	}
	.box-pricing .service-list__icon {
		margin-left: auto;
	}
	.pricing {
		margin-left: 0;
	}
	.pricing__item {
		width: auto;
		-webkit-box-flex:1;
		    -ms-flex:1;
		        flex:1;
	}

	
/* ----------- CLIENTS -----------*/
	.client-list a {
		height: 115px;
	}
/* ----------- PORFOLIO -----------*/
	.porfolio-list {
		display: block;
	}
	.porfolio-list__item {
		width: auto;
	}
/* ----------- BLOG -----------*/
	.blog-list__img {
	display: block;
	}
	.blog-list__img img {
		min-height: 200px;
	}
	.blog-list__icon {
		position: absolute;
		top: 0;
		left: 0;
	}
	.blog-list__header {
		position: static;
	}
	.blog-list__footer {
		
		display: block;
	}
	.blog-list__date {
		text-align: left;
		margin-bottom: 10px;
	}
	.blog-list__date span {
		display: inline-block;
		margin-right: 10px;
	}
	.blog-list__date span:last-child {
		margin-right: 0;
	}
	.blog-list__info {
		padding-left: 0;
	}
/* ----------- FOOTER -----------*/
	.footer-flex {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.footer-flex .social {
		margin-left: 0;
		margin-bottom: 20px;
	}
	.copyright {
		text-align: center;
		-webkit-box-ordinal-group: 2;
		    -ms-flex-order: 1;
		        order: 1;
	}
}

@media (max-width:767px) {
	header {
		top: 20px;
	}
	.logo a {
		width: 80px;
	    height: 80px;
	    font-size: 20px;
	    line-height: 20;
	}
/* ----------- SECTION ABOUT -----------*/
	.wrapper {
		padding-left: 20px;
		padding-right: 28px;
	}
	h1 {
		margin-bottom: 50px;
	}
	h1, h1 .sm {
		font-size: 20px;
		line-height: 20px;
	}
	h1 .lg {
		font-size: 30px;
		line-height: 35px;
	}
	.hr {
		margin: 40px 0;
	}
	.banner {
		min-height: 1px;
		height: auto;
		padding: 150px 0 100px;
	}
	.banner::after {
		display: none;
	}
	.section {
		padding: 40px 0;
	}
	.heading {
		display: block;
		margin-bottom: 50px;
	}
	.heading p {
		display: none;
	}
	.heading h2 {
		text-align: center;
		margin-right: 0;
	}
	.heading h2::after {
		position: static;
		margin: 10px auto 0;
		height: 4px;
		width: 45px;
	}
	.about_wrap_content {
		display: block;
		text-align: center;
	}
	.about_wrap_content_icon {
		margin: 0 auto 30px;
	}
	.about_wrap_img {
		max-width: 100%;
	}
/* ----------- TESTIMONIAL -----------*/
	.section-bg {
		padding-top: 60px;
		padding-bottom: 60px;
		min-height: 200px;
		background-image: none;
		background-color: #333;
	}
	.quote-text {
		font-size: 22px;
		line-height: 30px;
		padding: 0 40px;
	}
	.quote-text::after, .quote-text::before {
		font-size: 70px;
	}
	.quote-author {
		font-size: 16px;
		line-height: 20px;
	}
	.quote-author::before {
		margin-bottom: 15px;
	}
/* ----------- TEAM -----------*/
	.social-link {
		margin-right: 8px;
	}
/* ----------- FACT-LIST -----------*/
	.fact-list {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	.fact-list__items {
		width: 50%;
		margin-bottom: 20px;
	}
	.fact-list__icon {
		margin: 0 auto 15px;
	}
/* ----------- SERVICE -----------*/
	.service-list {
		display: block;
	}
	.service-list__item {
		margin: 0 auto 40px;
		max-width: 420px;
	}
/* ----------- BOX-PRICING -----------*/
	.pricing {
		display: block;
		margin: 0 auto;
		max-width: 420px;
	}
	.pricing__item:first-child {
		border-right: 1px solid #e6e6e6;
		margin-top: 0;
	}
	.pricing__item:last-child {
		border-left: 1px solid #e6e6e6;
		margin-top: 0;
	}
	.nav-tab-list__item.active .nav-tab-list__link{
		border: 2px solid;
	}
	.nav-tab-list__link {
		display: inline-block;
		max-width: 250px;
		text-align: center;
		padding: 10px 50px;
		border: 2px solid;
		border-radius: 6px;
	}
	.nav-tab-list .slick-arrow {
		position: absolute;
		top: 50%;
		z-index: 10;
		-webkit-transform: translate(0, -50%);
		        transform: translate(0, -50%);
		width: 35px;
	    height: 35px;
	    border: 2px solid #e6e6e6;
	    background-color: #ffffff;
	    margin: 0 4px;
	}
	.nav-tab-list .slick-next {
		right: 0;
	}
	.nav-tab-list .slick-prev {
		left: 0;
	}
/* ----------- BLOG -----------*/ 
	.blog-list {
		display: block;
	}
	.blog-list__item {
		width: auto;
	}
/* ----------- CONTACT -----------*/ 
	.contact-wrap {
		display: block;
	}
	.contact-wrap__left {
		width: auto;
		margin-bottom: 30px;
	}
	.contact-wrap__right {
		padding-left: 0;
		width: auto;
	}

/* ----------- CLIENTS -----------*/
	.client-list  {
		display: block;
		text-align: center;
	}
	.client-list__item {
		display: inline-block;
		vertical-align: middle;
		width: 220px;
	}
	#map {
		height: 350px;
	}
	#map::before, #map::after {
		display: none;
	}
}

@media (max-width:479px) {
/* ----------- TESTIMONIAL -----------*/
	.quote-text {
		font-size: 16px;
		line-height: 22px;
		padding:0;
		margin-bottom: 25px;
	}
	.quote-text::after, .quote-text::before {
		position: static;
		display: inline-block;
		font-size: 25px;
		line-height: 25px;
	}
/* ----------- TEAM -----------*/
	.team-list, .fact-list {
		display: block;
	}
	.team-list__items {
		width: auto;
		border-bottom: 1px solid #eee;
	}
/* ----------- FACT-LIST -----------*/
	.fact-list__items {
		width: auto;
	}
	.testimonial__text {
		font-size: 18px;
		line-height: 22px;
	}

}	
}