body {
	color: #4c4c4c;
	font-family: "Open Sans", Arial, sans-serif;
	font-style: 16px;

}

.wrapper {
	max-width: 1250px;/*+80px padding*/
	padding: 0 40px;
	margin: 0 auto;
}

h1 {
	color: #fff;
	text-transform: uppercase;
	font-size: 45px;
	font-weight: 300;
	line-height: 60px;
	margin-bottom: 90px;
}

h1 .lg {
	/*встать с новой строки display: block*/
	display: block;
	font-size: 70px;
	font-weight: 700;
	line-height: 80px;
	letter-spacing: -3px;
}

h1 .sm {
	font-size: 40px;
	font-weight: 300;
	line-height: 60px;
}

h6 {
	color: #0d0d0d;
	font-size: 20px;
	font-weight: 700;
	line-height: 25px;
	text-transform: uppercase;
}
/* ----------- 	BUTTONS-----------*/
.btn {
	display: inline-block;
	vertical-align: middle;
	color:#fff;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 16px;
	font-weight: 600;
	height: 42px;
	padding:10px 35px 0;
	border: 2px solid #fff;
	background-color: transparent;
	text-decoration: none;
	text-transform: uppercase;
}

.btn:hover {
	background: #f39c12;
	border: 2px solid #f39c12;
}

header {
	position: absolute;
	top:86px;
	left: 0;
	right: 0;
	z-index: 5;
}

.header-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
}


/* ----------- 	HEAEDER -----------*/

.logo a {
	display: flex;/*ссылка является строчным элементомпо умолчанию*/
	align-items: center;
	justify-content: center;
	width: 150px;
	height: 150px;
	border: 2px solid #fff;
	border-radius: 50%;
	color:#fff;
	font-size: 45px;
	font-family: "Montserrat", Arial, sans-serif;
	font-weight: 700;
	line-height: 45px;
	text-transform: uppercase;
}

.menu {
	display: flex;
	list-style: none;
}

.menu_item {
	position: relative;
	margin-left: 90px;
}

.menu_item::after {
	position: absolute;
	content: "\\\\";
	display: block;
	top: 0;
	left: 100%;
	margin-left: 40px;
	font-weight: 600;
	font-size: 18px;
	line-height: 20px;
	color: #fff;
}

.menu_item:last-child::after {
	display: none;
}

.menu_link {
	font-weight: 600;
	font-size: 18px;
	line-height: 20px;
	text-transform: uppercase;
	color: #fff;
}

.menu_link:hover {
	color: #0d0d0d;
}

/* ----------- BANNER -----------*/

.banner {
	padding-top: 460px;
	padding-bottom: 280px;
	text-align: center;
	height: 1100px;
	/*центр по горизонтали, прижаться к верхнему краю*/
	background: url("../img/banner.png") no-repeat center top;
}

/* ----------- SECTION ABOUT -----------*/
.about {
	padding: 100px 0;
}

.heading {
	display: flex;
	align-items: center;
	margin-bottom: 150px;
}

.about h2 {
	position: relative;
	color: #0d0d0d;
	font-size: 30px;
	margin-right: 40px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
}

.about h2::after {
	position: absolute;
	content: "";
	display: block;
	left: 100%;
	margin-left: 19px;
	top: 50%;
	margin-top: -22px;
	height: 45px;
	width: 5px;
	background-color: #f5b041;

}
.about p {
	color: #4d4d4d;
	font-size: 16px;
	font-weight: 400;
	line-height: 25px;
	text-transform: uppercase;
}

.about_wrap {
	display: flex;
	align-items: flex-start;
	border-bottom: 2px solid #e6e6e6;
	padding-bottom: 120px;
}

.about_wrap_content {
	display: flex;
	flex: 1;
	align-items: flex-start;
	
}

.about_wrap_content_icon {
	display: flex;/*для иконки*/
	align-items: center;/*для иконки*/
	justify-content: center;/*для иконки*/
	width: 125px;
	height: 125px;
	margin-right: 29px;
	font-size: 32px; /*для иконки*/
	flex: none; /*без сужения круга*/
	border: 2px solid #fad293;
	border-radius: 50%;
}

.about_wrap_content_text h6 {
	margin-bottom: 20px;
}

.about_wrap_content_text p {
	color: #737373;
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
}

.about_wrap_img {
	position: relative;
	margin-left: 60px;
}
.about_wrap_content_text .about_red_text  {
	color: #e74c3c;
	font-size: 20px;
	font-weight: 300;
	line-height: 28px;
	margin-bottom: 25px;
}

/* ----------- box-skills -----------*/

.box-skills {
	display: flex;
	margin-top: 120px;
}

.box_skills_items {
	flex: 1;
	width: 50%;
}

.box_skills_items__img img {
	display: inline-block;
	max-width: 100%/*уменьшается елси блок уменьшается*/
}

.box_skills_items__img {
	padding-right: 50px;
	text-align: right;
}

.box_skills_items__content {
	padding-left: 45px;
}

/* ----------- box-line -----------*/
.bars {
	margin-top: 35px;
}

.box-bars {
	margin-bottom: 50px;
}
.bars-title {
	font-size: 16px;
	line-height: 22px;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 5px;

}
.bars-line {
	background: #e7e7e7;
	height: 10px;
}

.bars-line > div {
	background: #f39c12;
	height: 10px;
}