body {
	color: #4c4c4c;
	font-family: "Open Sans", Arial, sans-serif;
	font-style: 16px;
	line-height: 1;
}

.wrapper {
	max-width: 1250px;/*+80px padding*/
	width: 100%;
	padding: 0 40px;
	margin: 0 auto;
}

h1 {
	color: #fff;
	text-transform: uppercase;
	font-size: 45px;
	font-weight: 300;
	line-height: 60px;
	margin-bottom: 90px;
}

h1 .lg {
	/*встать с новой строки display: block*/
	display: block;
	font-size: 70px;
	font-weight: 700;
	line-height: 80px;
	letter-spacing: -3px;
}

h1 .sm {
	font-size: 40px;
	font-weight: 300;
	line-height: 60px;
}
h2 {
	font-size: 30px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
	color: #0d0d0d;
}

h6 {
	color: #0d0d0d;
	font-size: 20px;
	font-weight: 700;
	line-height: 25px;
	text-transform: uppercase;
}
 p {
 	line-height: 28px;
 }

.hr {
	height: 2px;
	margin: 120px 0;
	background-color: #e6e6e6;
}

header {
	position: absolute;
	top:86px;
	left: 0;
	right: 0;
	z-index: 5;
}

.header-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/* ----------- 	BUTTONS-----------*/
.btn {
	display: inline-block;
	vertical-align: middle;
	color:#fff;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 16px;
	font-weight: 600;
	height: 42px;
	padding:10px 35px 0;
	border: 2px solid #fff;
	background-color: transparent;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.3s;
}
.btn-warning {
	color: #0d0d0d;
	border-color: #f39c12;
}

.btn-sm {
	height: 38px;
	padding-top: 9px;
}
.btn:hover {
	background: #f39c12;
	color: #fff;
	border: 2px solid #f39c12;
}
 input.btn , button.btn {
 	padding-top: 0 !important;
 }

/* ----------- 	FORM-----------*/
.form-field {
	position: relative;
	margin-bottom: 10px;
}

.form-field__icon {
	position: absolute;
	top: 15px;
	right: 30px;
	width: 20px;
	text-align: center;
	color: #808080;
	font-size: 16px;
}

.form-field__icon .icon-mail {
	font-size: 12px;
}
.icon-user2::before {
	color: #808080;
}
.form-control {
	display: block;
	padding: 0 70px 0 25px;
	width: 100%;
	height: 45px;
	border: 2px solid #d9d9d9;
	color: #808080;
	font-family: "Open Sans";
	font-size: 15px;
	font-weight: 400;
	transition: 0.3s;
}
textarea.form-control {
	min-height: 125px;
	resize: none; /*убрать растяжку внизу*/
	padding-top: 10px;
}
.form-control:focus {
	border-color: #f39c12;
}

/* ----------- 	HEAEDER -----------*/

.logo a {
	display: flex;/*ссылка является строчным элементомпо умолчанию*/
	align-items: center;
	justify-content: center;
	width: 150px;
	height: 150px;
	border: 2px solid #fff;
	border-radius: 50%;
	color:#fff;
	font-size: 45px;
	font-family: "Montserrat", Arial, sans-serif;
	font-weight: 700;
	line-height: 45px;
	text-transform: uppercase;
}

.menu {
	display: flex;
	list-style: none;
}

.menu_item {
	position: relative;
	margin-left: 90px;
}

.menu_item::after {
	position: absolute;
	content: "\\\\";
	display: block;
	top: 0;
	left: 100%;
	margin-left: 40px;
	font-weight: 600;
	font-size: 18px;
	line-height: 20px;
	color: #fff;
}

.menu_item:last-child::after {
	display: none;
}

.menu_link {
	font-weight: 600;
	font-size: 18px;
	line-height: 20px;
	text-transform: uppercase;
	color: #fff;
}

.menu_link:hover {
	color: #0d0d0d;
}

/* ----------- BANNER -----------*/

.banner {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 70px;
	text-align: center;
	height: calc(100vh + 100px);
	overflow: hidden;
	/*центр по горизонтали, прижаться к верхнему краю*/
	background: url("../img/banner.png") no-repeat center top;
	background-size: cover;
}

.banner::after {
	position: absolute;
	content: "";
	display: block;
	bottom: 0;
	left: 0;
	width: 0;
	height: 0;
	border-bottom: 100px solid #fff;
	border-left: 100vw solid transparent;
}
/* ----------- SECTION ABOUT -----------*/

.heading {
	display: flex;
	align-items: center;
	margin: 0 auto 150px;
}

.heading h2 {
	position: relative;
	width: 200px;
	flex:none; /*чтобы width не уменьшался, если уменьшить окно браузера*/
	text-align: right;
	margin-right: 40px;
}

.heading h2::after {
	position: absolute;
	content: "";
	display: block;
	left: 100%;
	margin-left: 19px;
	top: 50%;
	margin-top: -22px;
	height: 45px;
	width: 5px;
	background-color: #f5b041;

}
.heading p {
	color: #4d4d4d;
	font-size: 16px;
	font-weight: 400;
	line-height: 25px;
	text-transform: uppercase;
}

.about_wrap {
	display: flex;
	align-items: flex-start;
	
}

.about_wrap_content {
	display: flex;
	flex: 1;
	align-items: flex-start;
	
}

.about_wrap_content_icon {
	display: flex;/*для иконки*/
	align-items: center;/*для иконки*/
	justify-content: center;/*для иконки*/
	width: 125px;
	height: 125px;
	margin-right: 29px;
	font-size: 32px; /*для иконки*/
	flex: none; /*без сужения круга*/
	border: 2px solid #fad293;
	border-radius: 50%;
}

.about_wrap_content_text h6 {
	margin-bottom: 20px;
}

.about_wrap_content_text p {
	color: #737373;
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
}

.about_wrap_img {
	position: relative;
	margin-left: 60px;
}
.about_wrap_content_text .about_red_text  {
	color: #e74c3c;
	font-size: 20px;
	font-weight: 300;
	line-height: 28px;
	margin-bottom: 25px;
}

/* ----------- box-skills -----------*/
 .section {
 	padding: 105px 0 100px;
 }
.box-skills {
	display: flex;
	
}

.box_skills_items {
	flex: 1;
	width: 50%;
}

.box_skills_items__img img {
	display: inline-block;
	max-width: 100%/*уменьшается если блок уменьшается*/
}

.box_skills_items__img {
	padding-right: 50px;
	text-align: right;
}

.box_skills_items__content {
	padding-left: 45px;
}

/* ----------- box-line -----------*/
.bars {
	margin-top: 35px;
}

.box-bars {
	margin-bottom: 50px;
}
.bars-title {
	font-size: 16px;
	line-height: 22px;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 5px;

}
.bars-line {
	background: #e7e7e7;
	height: 10px;
}

.bars-line > div {
	background: #f39c12;
	height: 10px;
}

/* ----------- box-quote -----------*/
.section-bg {
	height: 700px;
	display: flex;
	align-items: center;
	background: url("../img/quote-bg.png") no-repeat center top;
	background-size: cover;
	color: #fff;
}
.quote {
	color: #fff;
	text-align: center;
}

.quote-text {
	padding: 0 70px;
	position: relative;
	font-size: 45px;
	font-weight: 700;
	line-height: 60px;
	margin-bottom: 33px;
}

.quote-text::after , .quote-text::before {
	position: absolute;
	content: "''";
	display: block;
	font-size: 110px;
	font-weight: 700;
	line-height: 60px;
	top: 0;
}
.quote-text::after {
	right: 0;
}
.quote-text::before {
	left: 0;
}

.quote-author {
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
}

.quote-author::before {
	content: "";
	display: block;
	width: 50px;
	height: 4px;
	margin: 0 auto 20px;
	background-color: #f39c12;
}

/* ----------- TEAM -----------*/

.team-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.team-list__items {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 269px;
	padding: 25px 15px 30px;
	border-top: 4px solid transparent;
}
/*вариант с разным кол-ом строк кнопки sociak выравнины снизу*/
.team-list__items .social {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	flex: 1;
	height: 100%;
}
.team-list__items:hover {
	background-color: #f0f0f0;
	border-color: #f39c12;
}
.team-list__items:hover .team-list__job::after {
	background-color: #e74c3c;
}

.team-list__img {
	display: flex;
	flex: none;
	justify-content: center;
	align-items: center;
	font-size: 62px;
	width: 200px;
	height: 200px;
	background-color: #e8f8f4;
	border: 6px solid #f2f2f2;
	border-radius: 50%;
	margin: 0 auto 25px;
}

.team-list__img img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	display: block;
}
.team-list__job {
	color: #999999;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	font-weight: 400;
}

.team-list__job::after {
	content: "";
	display: block;
	margin: 10px auto 15px;
	width: 20px;
	height: 4px;
	background-color: #cccccc;
}

.team-list__items p {
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	margin-bottom: 28px;
}

.social-link {
	display: inline-block;
	margin-right: 12px;
	font-size: 18px;
	color: #999999;
}
.social-link:last-child {
	margin-right: 0;
}

.social-link:hover {
	color: #f39c12;
}

/* ----------- FACT-LIST -----------*/
.fact-list {
	display: flex;
	justify-content: space-between;
}
.fact-list__items:hover .fact-list__icon {
	border-color: #fff;
}
.fact-list__items:hover .fact-list__icon [class*="icon"]::before {
	color: #f39c12;
}
.fact-list__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 32px;
	width: 170px;
	height: 170px;
	border: 2px solid #f39c12;
	border-radius: 50%;
	color:#fff;
	margin-bottom: 30px;
	transition: all 0.3s;
}

.fact-list__icon [class*="icon"]::before {
	color:#fff;
	transition: all 0,5s;
}

.fact-list h5 {
	text-align: center;
	font-size: 25px;
	font-weight: 700;
}

.fact-list h5 span {
	display: block;
	line-height: 45px;
	font-size: 45px;
}

/* ----------- SERVICE -----------*/
.service-list {
	display: flex;
	text-align: center;
	margin: 0 -15px; /*минус padding, чтобы текст по краю wrappera*/
}
.service-list__item {
	padding: 0 15px;/*разделить столбцы между собой*/
}
.service-list__item:hover .service-list__icon {
	background-color: #f39c12;
}
.service-list__item:hover .service-list__icon [class*="icon"]::before {
	color: #fff;
} 
.service-list__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 27px;
	width: 105px;
	height: 105px;
	border: 2px solid #f39c12;
	border-radius: 50%;
	color:#fff;
	margin: 0 auto 30px;
	transition: all 0.5s;
}

.service-list__icon [class*="icon"]::before {
	color: #0d0d0d;
	transition: all 0.5s;
}

.service-list__item h6 {
	margin-bottom: 25px;
}
.service-list__item p {
	color: #737373;
	font-size: 16px;
	line-height: 28px;
}

/* ----------- BOX-PRICING -----------*/
.box-pricing {
	display: flex;
}

.box-pricing .service-list__icon {
	width: 125px;
	height: 125px;
	font-size: 32px;
	margin-left: 0;
}
.pricing {
	display: flex;
	align-items: flex-start;
	text-align: center;
	margin-left: 5%;
}
.pricing__item {
	width: 250px;
	border: 2px solid #e6e6e6;
}

.pricing__item:first-child {
	margin-top: 17px;
	border-right: none;
}

.pricing__item:last-child {
	margin-top: 17px;
	border-left: none;
}

.pricing__item.active {
	border-right: none;
	border-left: none;
	border-top: 17px solid #f39c12;
	border-bottom: 11px solid #e6e6e6;
	background-color: #f2f2f2;
}


.pricing__item.active .pricing-header {
	background: #f39c12; 
}

.pricing-header {
	padding: 25px 28px;
}

.pricing__item.active .pricing-header__title {
	color: #fff;
}

.pricing-header__title {
	color: #0d0d0d;
	font-size: 22px;
	font-weight: 700;
	line-height: 25px;
	text-transform: uppercase;
}

.pricing__item.active .pricing-header__title span::before {
	background: #fff;
}

.pricing-header__title span::before {
	content: "";
	display: block;
	width: 50px;
	height: 2px;
	background-color: #f39c12;
	margin: 5px auto;
}

.pricing__list {
	list-style: none;
}

.pricing__list li {
	color: #737373;
	font-size: 15px;
	line-height: 18px;
	padding: 15px;
	border-top: 1px solid #e6e6e6;
}


.pricing__list li:last-child {
	border-bottom: 1px solid #e6e6e6;
}

.pricing__list li:nth-child(odd){
	background-color: #fafafa;
}

.pricing__item.active .pricing__list li:nth-child(odd){
	background-color: #e6e6e6;
}
.pricing__footer {
	padding: 34px 28px;
}

.pricing__footer .btn {
	height: 38px;
	padding: 9px 33px 0;
}

.pricing__item.active .pricing__footer {
	background: #e6e6e6; 
}

/* ----------- TESTIMONIAL -----------*/

.testimonial {
	text-align: center; /*центровка в инлайновом эл-те*/
	color: #fff;
}

.testimonial__text {
	margin: 35px auto 25px;
	font-size: 22px;
	font-weight: 300;
	font-style: italic;
	line-height: 30px;
}

.testimonial .quote-author::before {
	display: none;
}

.testimonial .quote-author::after {
	content: "";
	display: block;
	width: 50px;
	height: 4px;
	margin: 20px auto 0;
	background-color: #f39c12;
}

.testimonial__avatar {
	width: 104px;
	height: 104px;
	margin: 0 auto; /*центровка в блочном эл-те*/
	border-radius: 50%;
	overflow: hidden; /*скроем что выходит за данный блок*/
}

.testimonial__avatar img {
	display: block;/* чтобы убрать нижний отступ*/
	width: 100%;
}

/* ----------- TAB -----------*/

.nav-tab-list {
	list-style: none;
	text-align: center;
	margin-bottom: 80px;
}

.nav-tab-list__item {
	display: inline-block;

}

.nav-tab-list__item::after {
	content: "\\\\";
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	font-weight: 700;
	line-height: 25px;
	color: #a6a6a6;
	margin: 0 18px;
}

.nav-tab-list__item:last-child::after {
	display: none;
}

.nav-tab-list__item.active .nav-tab-list__link {
	color: #f39c12;
}
.nav-tab-list__link {
	font-size: 14px;
	font-weight: 700;
	line-height: 25px;
	text-transform: uppercase;
}

.nav-tab-list__link:hover {
	color: #f39c12;
}

/* ----------- CODE FOR TAB -----------*/

.hide {
	position: absolute;
	left: 0;
	top: 0;
	height: 0;
	width: 0;
	overflow: hidden;
	z-index: -1; /*все блоки перекрывают данный блок*/
	opacity: 0;
}

.tab-cont {
	opacity: 1;
	transition: opacity 0.4s;
}

.tab-cont.hide {
	opacity: 0;
}

/* ----------- TAB-WRAP -----------*/


.porfolio-list {
	display: flex;
	flex-wrap: wrap;
}

.porfolio-list__item {
	position: relative;
	width: 25%;
}
.porfolio-list__item:hover .porfolio-list__previev {
	display: block;
}

.porfolio-list__item:hover .porfolio-list__img [class*="icon"] {
	display: none;
}
 .porfolio-list__item:hover .porfolio-list__title {
	color: #f39c12;
}
.porfolio-list__item:hover .porfolio-list__img {
	background: #fff;
}
.porfolio-list__item:hover .porfolio-list__img img {
	opacity: 0.6;
}
.porfolio-list__link {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 2;
}
.porfolio-list__img {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	font-size: 58px;
	height: 220px;
	overflow: height;
	background-color: #c7c7c7;
}
.porfolio-list__img img {
	display: block;
	width: 100%;
	min-height: 100%;
	opacity:1;
	
}
.porfolio-list__previev {
	position: absolute;
	display: none;
	left: 50%;
	top: 50%;
	transform: translate(-50% , -50%);
	width: 100px;
	height: 100px;
	opacity: 0.6;
	background: #f39c12 url("../img/plus.png") no-repeat center;
	border-radius: 50%;
	z-index: 3;
}
.porfolio-list__previev:hover {
	opacity: 0.9;
}
.porfolio-list__footer {
	padding: 20px 10px;
	text-align: center;
}

.porfolio-list__title {
	color: #0d0d0d;
	font-size: 15px;
	font-weight: 700;
	line-height: 22px;
	text-transform: uppercase;
	margin-bottom: 4px;
}

.porfolio-list__category {
	color: #8c8c8c;
	font-size: 14px;
	font-weight: 400;
}


/* ----------- TWEET -----------*/

.tweet {
	text-align: center;
	color: #fff;
}

.tweet-wrap__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	width: 100px;
	height: 100px;
	border: 2px solid #ffffff;
	border-radius: 50%;
}

.tweet-wrap__icon img {
	display: block;
}

.tweet-wrap__text {
	margin: 35px 0 10px;
	font-size: 22px;
	font-weight: 700;
	line-height: 33px;
}

.tweet-wrap__text a {
	color: #f39c12;
	font-size: 22px;
	font-weight: 700;
	line-height: 33px;
}
.tweet-wrap__text a:hover {
	text-decoration: underline;
}
.tweet-wrap__time {
	color: #808080;
	font-size: 15px;
	font-weight: 300;
	font-style: italic;
	line-height: 38px;
}

/* ----------- BLOG -----------*/

.blog-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.blog-list__item {
	width: 555px;
	margin-bottom: 60px;
}

.blog-list__img {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 58px;
	height: 300px;
	overflow: hidden;
	background-color: #b7b7b7;
}

.blog-list__img:hover .blog-list__title {
	color: #f39c12;
}
.blog-list__img img {
	display: block;
	width: 100%;
	min-height: 300px;
}

.blog-list__link {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
}
.blog-list__header {
	display: flex;
	align-items: flex-end;
	position: absolute;
	right: 0;
	bottom: 0;
}

.blog-list__icon  {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 44px;
	background-color: #f39c12;
	font-size: 18px;
	color: #fff;
}
.blog-list__title {
	background: #fff;
	padding: 25px 20px 10px;
}

.blog-list__footer {
	display: flex;
	padding-top: 20px;
}

.blog-list__date {
	color: #808080;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	text-align: right;
}
.blog-list__date span {
	display: block;
	white-space: nowrap;
}

.blog-list__info {
	padding: 0 17px 0 40px;
}

.blog-list__info p {
	color: #595959;
	font-size: 15px;
	font-weight: 400;
	line-height: 28px;
	padding-bottom: 28px;
}

.blog-list__info .btn {
	height: 35px;
	font-size: 14px;
	padding: 8px 27px 0;
}

/* ----------- CLIENTS -----------*/
.clients h2 {
	color: #fff;
	text-align: center;
	margin-bottom: 55px;
}

.client-list {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.client-list a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 257px;
	height: 162px;
	padding: 15px;
	border: 2px solid rgba(255, 255, 255, 0.25);
}
.client-list a:hover {
	border: 2px solid rgba(255, 255, 255, 0.8);
}
.client-list img {
	max-width: 100%;/*была не больше даного блока*/
	display: block;
}

/* ----------- CONTACT -----------*/
.contact-wrap {
	display: flex;
}
.contact-wrap .contanct-form {
	padding-top: 8px;
}
.contact-wrap h6 {
	margin-bottom: 28px;
}

.contact-wrap p {
	margin-bottom: 35px;
}

.contact-wrap__left {
	width: 53%;
}

.contact-wrap__right {
	width: 47%;
	flex-shrink: 47%;/*макс ширина блока*/
	padding-left: 60px;
}
.contact-list {
	list-style: none;
}

.contact-list__item {
	position: relative;
	margin-bottom: 18px;
	padding-left: 50px;
	color: #0d0d0d;
	line-height: 25px;
	letter-spacing: -0.32px;
}

.contact-list__item a {
	color: #0d0d0d;
}

.contact-list__item a:hover {
	color: #f39c12;

}
.contact-list__icon {
	position: absolute;
	left: 0;
	top: -4px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 34px;
	height: 34px;
	border: 2px solid #f39c12;
	border-radius: 50%;
}